@import url(https://fonts.google.com/specimen/Overpass?preview.text_type=custom);
@import url(https://fonts.google.com/specimen/Ubuntu?preview.text_type=custom);
html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;

  font-family: "Ubuntu", "Overpass";
}

.showcase {
  height: 600px;
  background: rgb(2, 0, 36);
  background: url(../assets/bg-pattern-intro-desktop.svg),
    linear-gradient(321deg, hsl(355, 100%, 74%) 35%, hsl(353, 100%, 62%) 100%);
  background-position: 25% 50%;
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom-left-radius: 100px;
  background-origin: padding-box;
  display: flex;
  flex-direction: column;
}

.showcase .nav-bar {
  padding: 50px 100px 0;
  box-sizing: border-box; /*Juntar os componentes dentro da box sem passar o tamanho */
}

.showcase .nav-bar .menu {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 50px;
}

.showcase .nav-bar .menu span {
  margin-right: 10px;
}

.account-buttons {
  display: flex;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 510px;
}

.showcase .info h1,
span {
  display: block;
}

.showcase .info h1 {
  color: #fff;
  font-size: 70px;
}

.showcase .info span {
  color: #fff;
  font-size: 22px;
  margin-bottom: 50px;
}

.action-buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.start-btn {
  background: #fff;
  border-radius: 50px;
  padding: 20px 44px;
  color: #ff4f5a;
  display: inline-block;
  text-align: center;
  border: #ff4f5a;
  font-size: 18px;
}
.learn-btn {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 20px 44px;
  color: #ffffff;
  display: inline-block;
<<<<<<< HEAD
  font: normal normal 18px/1 "Open Sans", sans-serif;
=======
  font: normal normal 26px/1 "Open Sans", sans-serif;
>>>>>>> 0bc2a31981204024771e828e95643dcff3341c21
  text-align: center;
}

.login-btn {
  background-color: transparent;
  border-radius: 28px;
  border: transparent;
  display: inline-block;
  color: #ffffff;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
}

.signup-btn {
  background-color: #fff;
  border-radius: 28px;
  border: transparent;

  cursor: pointer;
  color: hsl(353, 100%, 62%);
  font-size: 17px;
  padding: 5px 55px;
  text-decoration: none;
  text-shadow: hsl(353, 100%, 62%);
}
